=provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        = @user.name
  .span8
    - if @user.recipes.any?
      %h3 Recepten (#{@user.recipes.count})
      %ol.recipes
        = render @recipes
      = will_paginate @recipes, param_name: 'recipe_page'
    - if @user.microposts.any?
      %h3 Microposts (#{@user.microposts.count})
      %ol.microposts
        = render @microposts
      = will_paginate @microposts, param_name: 'micropost_page'

